<div class="most-viewed">
  <p>Most viewed</p>
  <table class="table-borderless">
    <tbody>
      <% most_views.each do |p| %>
        <tr>
          <td class="view-points"><span class="badge badge-secondary"><%= p.hits %> views</span></td>
          <td><%= link_to(p.title, post_path(p), style: 'text-decoration:none;') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
