<% provide(:page_title, 'All Posts') %>
<% provide(:blog_active, 'active') %>
<div class="row">
  <div class="col-md-12">
    <%= render @posts %>
  </div>
</div>
<%= will_paginate @posts, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
