<div class="about my-5" id="about">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4 class="text-center">Get in touch with me</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <p class="text-center"><%#= t('top.contact.menu') %></p>
      <div class="text-center my-4">
        <%#= image_tag('author_default.jpg', id: 'author_image', class: 'rounded-circle text-center', alt: 'Author image') %>
      </div>
      <p class="text-center"><%= author.name %></p>
      <div class="text-center my-2">
        <span class="mr-4" style="font-size:3.0rem; color:#3C5A99;">
          <%= icon('fab', 'facebook') %>
        </span>
        <span class="mr-4" style="font-size:3.0rem; color:#38A1F3;">
          <%= icon('fab', 'twitter-square') %>
        </span>
        <span style="font-size:3.0rem; color:#00c300;">
          <%= icon('fab', 'line') %>
        </span>
        <%#= image_tag('LINE@_APP_typeA.png', id: 'line_at_logo', alt: 'Responsive image', style: 'height:50px;width:50px;') %>
      </div>
    </div>
  </div>
</div>
