<div class="categories my-5" id="categories">
  <div class="row my-4">
    <div class="col-md-6 offset-md-3">
      <h4 class="text-center"><%= t('top.categories.menu') %></h4>
    </div>
  </div>
  <div class="row">
    <% tags.zip(category_images).each do |tag, category_image| %>
      <div class="col-6 col-sm-4 col-md-4 col-lg-4 px-0">
        <%= link_to posts_path(tag: tag.name) do %>
          <div class="hovereffect">
            <img src="<%= category_image %>" class="img-fluid" alt="Responsive image">
            <div class="overlay">
              <h2><%= tag.name.capitalize %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
