<!-- FIXME: video_tag is not working -->
<div class="movie embed-responsive embed-responsive-16by9" id="movie">
  <video src="/videos/merii.mp4" type="video/mp4" class="embed-responsive-item" autoplay loop muted playsinline></video>
</div>
