<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:0px; padding-right:0px;">
    <div class="hovereffect">
      <img src="https://images.pexels.com/photos/1319460/pexels-photo-1319460.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="img-fluid" alt="Responsive image">
      <div class="overlay">
        <h2>My works 1</h2>
        <a class="info" href="#">link here</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 top-images" style="padding-left:0px; padding-right:0px;">
    <div class="hovereffect">
      <img src="https://images.pexels.com/photos/1570807/pexels-photo-1570807.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="img-fluid" alt="Responsive image">
      <div class="overlay">
        <h2>My works 2</h2>
        <a class="info" href="#">link here</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 top-images" style="padding-left:0px; padding-right:0px;">
    <div class="hovereffect">
      <img src="https://images.pexels.com/photos/668196/pexels-photo-668196.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="img-fluid" alt="Responsive image">
      <div class="overlay">
        <h2>My works 3</h2>
        <a class="info" href="#">link here</a>
      </div>
    </div>
  </div>
</div>
