<div class="row">
  <div class="col-md-4 top-images" style="padding-left:0px; padding-right:0px;">
    <figure>
      <span>About</span>
      <img src="https://images.pexels.com/photos/1319460/pexels-photo-1319460.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="img-fluid" alt="Responsive image">
    </figure>
  </div>
  <div class="col-md-4 top-images" style="padding-left:0px; padding-right:0px;">
    <figure>
      <span>My Works</span>
      <img src="https://images.pexels.com/photos/1570807/pexels-photo-1570807.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="img-fluid" alt="Responsive image">
    </figure>
  </div>
  <div class="col-md-4 top-images" style="padding-left:0px; padding-right:0px;">
    <figure>
      <span>Videos</span>
      <img src="https://images.pexels.com/photos/668196/pexels-photo-668196.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="img-fluid" alt="Responsive image">
    </figure>
  </div>
</div>
