<h2>パスワード再設定メール (English as follows)</h2>
<p>パスワード再設定リンクをお送り致します。以下のリンクからパスワードの再設定を行ってください。</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>もしご自身で本メールを送付する対応をしていない場合、本メールは破棄してください。</p>
<p>上記リンクからパスワード変更を行わない限り、パスワードは変更されません。</p>

<hr>

<h2>Reset your password</h2>
<p>Hello <%= @resource.email %>!</p>
<p>You requested a link to change your password. You can do this through the link below.</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
