<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" style="color:white;">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </li>
      <li class="nav-item" style="color:white;">
        <i class="fas fa-blog"></i>
        <span>My Posts</span>
      </li>
    </ul>
  </div>
</nav>
