<% provide(:page_title, 'Posts') %>
<% provide(:author, 'active') %>
<div class="row">
  <div class="col-12 mt-3">
    <div class="my-3">
      <div class="text-center">
        <h4>My Posts</h4>
      </div>
    </div>
    <div class="search col-md-6 offset-md-3 my-4">
      <%= render 'shared/search' %>
    </div>
    <!-- TODO: タイトル等の各要素の長さによってテーブルの大きさが変わらないようにする -->
    <table class="table table-sm table-responsive" id="posts-table">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Categories</th>
        <th colspan="4">Date</th>
      </tr>
      <%= render @posts %>
    </table>
    <%= will_paginate @posts, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center my-4' %>
  </div>
</div>
