<% provide(:page_title, 'All Posts') %>
<% provide(:author, 'active') %>

<div class="row" style="margin:0px 20px;">
  <div style="margin-bottom:20px;">
    <%= link_to 'New post', new_authors_post_path, class: 'btn btn-primary btn-lg' %>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th colspan="4">Created at</th>
    </tr>
    <%# post.each記法の省略形 %>
    <%= render @posts%>
  </table>
</div>
