.card {
  border-radius: 10;
  margin-bottom: 20px;
  background-color: $primary-color-text;
  .card-body {
    padding: 10px;
    a {
      text-decoration: none;
    }
    .card-title {
      font-size: 1.0rem;
      font-family: 'Playfair Display', 'M PLUS Rounded 1c', sans-serif;
      margin-bottom: 0;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .tags {
      margin-bottom: 0;
      a {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
      }
    }
    .view-counts-and-published-date {
      font-size: 0.8rem;
      color: #787878;
      font-weight: 300;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }
    .card-text {
      font-size: 0.9rem;
      color: black;
    }
  }
}
