$light-gray: #f7f7f9;

$primary-color-dark:   #1976D2;
// $primary-color:        #2196F3;
$primary-color:        #000000;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #CDDC39;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$facebook-color:       #3b5998;
$twitter-color:        #1DA1F2;
$instagram-color:      #8a3ab9;
$youtube-color:        #ff0000;
$line-color:           #00B901;
$linkedin-color:       #0077B5;
