.navbar-nav {
  flex-direction: row;
  li {
    padding-left: 30px;
  }
}

.navbar-background-top {
  background-color: rgba(0,0,0,0);
}

.navbar-background {
  background-color: $primary-color;
}

.navbar {
  border-radius: 0;
  .navbar-brand {
    font-weight: bolder;
    font-family: 'Playfair Display', serif;
    color: $accent-color;
    .light {
      font-weight: 300;
      color: $primary-color-text;
    }
  }
  .navbar-toggler {
    outline: none;
  }
  .nav-link {
    font-family: 'Playfair Display', serif;
    color: $primary-color-light !important;
    &.active {
      color: $primary-color-text !important;
    }
  }
  .dropdown-item {
    font-family: 'Playfair Display', serif;
  }
}

// To display sns icons oneline for smart phone
@media screen and (max-width: 375px) {
  .navbar .navbar-nav li {
    padding-left: 15px;
  }
}

.collapse-bg {
  padding: 0 !important;
  .card {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
  }
}


.collapse-bg .card .list-group-item {
  padding: 0;
  border-radius: 0 !important;
  border-color: black;
  a {
    background-color: #1a1a1a;
    color: #bdc3c7;
    width: 100%;
    height: 100%;
    padding: 10px;
    &:active {
      color: white;
      border-bottom: none;
    }
  }
}
