.posts.edit, .posts.new {
  .card {
    .card-body {
      background-color: $light-gray;
    }
    .card-title {
      margin-bottom: 0;
      font-size: 18px;
    }
    .list-group-item {
      padding: 10px;
      border-left: 0;
      border-right: 0;
      input[type='text'], textarea {
        font-size: 14px;
        background-color: $light-gray;
      }
      textarea {
        height: 100px;
      }
      &:last-child {
        background-color: $light-gray;
      }
    }
  }
}

.posts.show {
  h1 {
    font-family: 'Playfair Display', 'M PLUS Rounded 1c', sans-serif !important;
  }
  .view-counts-and-published-date {
    span {
      font-weight: 300;
      font-size: 16px
    }
  }
  .post-body p {
    font-family: 'Playfair Display', 'M PLUS Rounded 1c', sans-serif !important;
  }
  .most-viewed {
    p {
      font-family: sans-serif;
    }
  }
}

#posts-table {
  width: 100%;
  margin: 0 auto !important;

  th {
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
  }

  td {
    margin-right: 10px;
    font-size: 14px;
  }

  .titles {
    font-size: 16px;
  }
}
